<div>
    <app-contact-info url="https://www.linkedin.com/in/carlos-jorge-rodr%C3%ADguez-4a34141bb/" [icon]="faLinkedin">
    </app-contact-info>
    <app-contact-info url="https://github.com/CarlosJorgeR" [icon]="faGithub">
    </app-contact-info>
    <app-contact-info url="https://twitter.com/CarlosJorgeRod3" [icon]="faTwitter">
    </app-contact-info>
    <app-contact-info url="https://www.facebook.com/carlosjorge.rodriguezcuello" [icon]="faFacebook">
    </app-contact-info>
    <app-contact-info url="mailto: rodriguezcuelloc@gmail.com" [icon]="faGmail">
    </app-contact-info>
</div>