
<div id="scroll-container">
  <section>
    <div>
      <app-caption
        [displayClass]="'display-1'"
        [captionStates]="appTitle"
        >
      </app-caption>
      <br>
      <app-caption 
        [displayClass]="'display-1'"
        [captionStates]="appSubtitle"
        >
      </app-caption>
      <app-caption 
        [displayClass]="'display-1'"
        [captionStates]="appDescription"
        [isDescription]="true"
        >
      </app-caption>
      
      <br>
    </div>
  </section>
  
</div>