  $purple: #ac4bf6;
  $aqua: #4b9bf6;
  
  section {
    width: 100%;
    height: 250vh;
    /* Scroll Snap */
    top: 0;
    left: -100vw;

  }

  body {
    background: linear-gradient(90deg, rgb(32, 68, 109), rgb(8, 1, 27), rgb(8, 1, 27));
    animation: Gradient 8s ease infinite;
    position: relative;
    // overflow: hidden;
    background-size: 160% 100%;

  }

  @keyframes Gradient {
    0% {
      background-position: 80% 0%;
    }

    50% {
      background-position: 0% 0%;
    }

    100% {
      background-position: 80% 0%;
    }
  }

  .magical-underline {
    color: $purple;
    /* background-image: linear-gradient(#4b9bf6 , #4b9bf6 ); */
    background: linear-gradient($purple, $purple);
    background-repeat: no-repeat;
    background-size: 100% 0%;
    background-position: 100% 0%;
    padding-bottom: 10px;
    font-family: Montserrat;
    position: fixed;
    white-space: pre-line;
    left: 5%;
    max-width: 40%;
    // text-shadow: makelongshadow(#3E3E40);
  }

  .svg {
    position: absolute;
    transform-style: preserve-3d;
    bottom: 200vh;
  }

  // $total: 10;

  // @for $i from 1 through $total {
  //   $scale: random(2) - .4;

  //   .svg:nth-child(#{$i}) {
  //     left: random(120) * 1% - 20;
  //     animation: raise#{$i} 6+random(15)+s linear infinite;
  //     animation-delay: random(5) - 5 + s;
  //     transform: scale(.3 * $i - .6) rotate(random(360) + deg);
  //     z-index: $i - 7;
  //     filter: blur($i - 6 + px);

  //     @keyframes raise#{$i} {
  //       to {
  //         bottom: 150vh;
  //         transform: scale(.3 * $i - .6) rotate(random(360) + deg);
  //       }
  //     }
  //   }
  // }