  $purple: #ac4bf6;
  $aqua: #4b9bf6;

  section {
    width: 100%;
    height: 150vw;
    /* Scroll Snap */
    top: 0;
    left: -100vw;

  }

  body {
    background-color: rgb(8, 1, 27);
  }

  .magical-underline {
    color: $purple;

    /* background-image: linear-gradient(#4b9bf6 , #4b9bf6 ); */
    background: linear-gradient($purple, $purple);
    background-repeat: no-repeat;
    background-size: 100% 0%;
    background-position: 100% 0%;
    padding-bottom: 10px;
    font-family: Montserrat;
    position: fixed;
    white-space: pre-line;
    left: 5%;
    max-width: 40%;
  }