$purple: #ac4bf6;
$aqua: #4b9bf6;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h3{
    color: white;
    position: relative;
    display: inline-block;
    font-size: 3vw

}
.titleBody {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title {
    position: relative;
}

.title span {
    font-family: Montserrat;
    font-size: 7vw;
    color: $purple;
    position: relative;
    display: inline-block;
    animation: title 1s none;
    transition: all .2s ease;
}

@keyframes title {
    
    0% {
        transform: translateY(20%)translateX(-20%);
        // opacity: 0;
        color: $aqua;
    }

    100% {
        color: $purple;
        transform: translateY(0);
        opacity: 1;

    }


}

.title span:hover{
    transform: translateY(20%)translateX(-20%);
    // opacity: 0;
    color: $aqua;
}
// .word {

//     // left: 17%;
//     // top: 15%;
//     &:nth-child(1) span {
//         font-size: 7vw;
//     }

//     &:nth-child(2) span{
//         font-size: 7vw;
//     }

//     &:nth-child(3) span{
//         font-size: 6vw;

//     }
   
// }