$purple: #ac4bf6;
$aqua: #4b9bf6;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h3 {
    color: white;
    position: relative;
    display: inline-block;
    font-size: 3vw
}

.animate-title {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #9ecbff 0%,
            #4b9bf6 29%,
            #ac4bf6 67%,
            #3a1953 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    display: inline-block;
    font-size: 6.5vw;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.titleBody {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vw;
    position: relative;
    top: 5%
}

.title {
    position: relative;
}

.title.is-phone-portrait {
    top: -10%
}

.title.is-table {
    top: 0%;

}

.title.is-web {
    top: 0%
}


.arrow {

    display: flex;
    position: relative;
}

.arrow.is-phone-portrait {
    top: -1vh;
    min-width: 15vw;
    min-height: 8vh;
}

.arrow.is-table {
    min-width: 17vw;
    min-height: 12vh;
    top: -1vh
}

.arrow.is-web {
    min-width: 15vw;
    min-height: 15vw;
    top: -5vh
}

.arrow:before {
    content: "";
    background: $purple;
    min-width: 15vw;
    min-height: 15vw;
    transform: translateX(60vw);
    clip-path: polygon(35% 0%,
            70% 0%,
            70% calc(100% - 70%),
            90% calc(100% - 70%),
            52.5% calc(100% - 45%),
            15% calc(100% - 70%),
            35% calc(100% - 70%),


        );
    animation: arrow 1.5s infinite linear;
}

@keyframes arrow {

    0% {
        transform: translateX(60vw);
        background: $purple;
    }

    50% {
        transform: translateY(10vw) translateX(60vw);
        background: $aqua;
    }

    100% {
        transform: translateX(60vw);
        background: $purple;


    }


}

.word.is-phone-portrait {
    font-size: 8.5vw;
}

.word.is-table {
    font-size: 8vw;
    font-weight: 600;
}

.word.is-web {
    font-size: 6vw;
}

.presentation {
    position: relative;
}

.presentation.is-phone-portrait {
    top: 12%
}

.presentation.is-table {
    top: 12%
}

.presentation.is-web {
    top: 0%
}