<section>
    <div class="presentation" [ngClass]="classes">
        <div class="titleBody">

            <h1 class="title" [ngClass]="classes">
                <h3>Hello, I'm</h3>
                <div>
                    <h3 class="animate-title" [ngClass]="classes"> {{name}}</h3>
                </div>
                <div>
                    <h3 class="animate-title" [ngClass]="classes"> {{lastName}}</h3>
                </div>
                <div>
                    <h3 class="animate-title" [ngClass]="classes"> {{profesion}}</h3>
                </div>
                <!-- <div>
                    <span class="word" *ngFor="let item of splitDescription(name)" [ngClass]="classes" 
                        [ngStyle]="{
                            animationDelay:item.delay
                        }" 
                        [innerHTML]="item.letter">
                    </span>
                </div>
                <div>
                    <span class="word" *ngFor="let item of splitDescription(lastName)" [ngClass]="classes" 
                        [ngStyle]="{
                            animationDelay:item.delay
                        }" 
                        [innerHTML]="item.letter">
                    </span>
                </div>
                <div>
                    <span class="word" *ngFor="let item of splitDescription(profesion)" [ngClass]="classes" 
                        [ngStyle]="{
                            animationDelay:item.delay
                        }" 
                        [innerHTML]="item.letter">
                    </span>
                </div> -->
            </h1>



        </div>
        <div class="arrow"  [ngClass]="classes">

        </div>
    </div>
</section>